# Node.js riippuvuudet
node_modules/

# TypeScriptin käännetyt tiedostot
dist/
build/

# Lokit
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ympäristömuuttujat
.env

# macOS
.DS_Store

# Windows
Thumbs.db
